# Crie um arquivo chamada .env na raíz do projeto, dentro de PI1-SI-2026-Time04 mesmo e cole isso que está embaixo:

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=

# Após colar isso, atribua os valores as suas respectivas váriaveis.